<!DOCTYPE html>
<head>
    <html lang="en">
    <meta charset="UTF-8">
    <title>upload_image.html page</title>
</head>

<body>
    <h2>Image Upload</h2>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% else %}
        <p>Image was uploaded</p>

        <h2>Tags:</h2>
        <ul>
            {% for image_data in images_data %}
                <li><strong>{{ image_data.name }}</strong></li>
                <ul>
                    {% for tag, score in image_data.tags_and_scores %}
                        <li>{{ tag }} - Score: {{ score }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endif %}
</body>


</html>